{% extends "base.html" %}

{% block content %}

  {% for p in posts %}
    {{ p.render() | safe }}
    <br>
created by: {{p.created_by}}
<br>
<a href="/edit/{{p.key().id()}}"> Edit </a>
<a href="base.html">Like</a>
  {% endfor %}

  <h2>new post</h2>

    <form method="post">
      <label>
        <div>subject</div>
        <input type="text" name="subject" value="{{subject}}">
      </label>

      <label>
        <div>blog</div>
        <textarea name="content">{{content}}</textarea>
      </label>
        
      <div class="error">{{error}}</div>

      <input type="submit">
    </form>
{% endblock %}
